<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>members_only</title>
<link rel="stylesheet" href="/styles.css">


</head>

<body>
  
  <%- include('navbar', {navbarLinks:navbarLinks}) %>
  <% if (currentUser) { %>
    <h1>Welcome <%= currentUser.username %>!</h1>
    <% if (currentUser.is_member) { %>
      <p>Verified member ✅</p>
    <% } %>
  <% } else { %>
    <h1>Welcome!</h1>
  <% } %>

  <% if (currentUser && currentUser.is_member === false) { %>
    <a href="/membership-form">Become a member</a>
  <% } %>

  

  <!-- Letters display -->
  <div class="letters-container">
    <h2>Letters</h2>
    
    <% if (currentUser) { %>
      <a href="/letter/new">CREATE NEW LETTER</a>
   <% } %>


    <% letters.forEach((letter) => { %>
      <div class="letter-instance">
        <% if (currentUser) { %>
          <p class="author"><%= letter["username"] %></p>
        <% } else { %>
          <p class="author">Anonymous user</p>
        <% } %>

        <p class="letter-text"><%= letter["text"] %></p>

        <% if (currentUser) { %>
         <p class="letter-time"><%= letter["timestamp"] %></p>
        <% } else { %>
           <p class="letter-time">Time is an illusion</p>
        <% } %>
        

        <% if (currentUser && currentUser.is_admin) { %>
          <div class="letter-buttons">
            <form method="post" action="/letter/delete/<%= letter["id"] %>">
              <button>DEL</button>
            </form>
          </div>
        <% } %>
      </div>
    <% }) %>
  </div>
</body>
</html>
